
.pull-right {
    float:right;
}
.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
    
}
a.btn, a.btn:focus, a.btn:hover {
  text-decoration: none;
}
.btn:focus, .btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


